header {
    background-color: brown;
    color: white;
}
body {
    background-color:#FFFFFF;
}

h1 {
    font-style: italic;
    font-size: xx-large;
}
p1 {
    font-size: larger;
}
p2 {
    font-size: medium;
}
h2 { 
    font-style: italic;
    color: black;
}
li {
    font-size: larger;
}
