header {
    background-color: brown;
    color: white;
}
body {
    background-color:#FFFFFF;
}

div {
    width: 500px;
    height: 200px;
    overflow: hidden; /* Faz o div não aumentar a altura por causa da imagem */
}

img {
    border: 1px solid red;
    width: 100%;
}

h1 {
    font-style: italic;
    font-size: xx-large;
}
p1 {
    font-size: larger;
}
p2 {
    font-size: medium;
}
h2 { 
    font-style: italic;
    color: black;
}
li {
    font-size: larger;
}
